<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>appmod-antoine</display-name>
	<!-- Page d'accueil -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>servlet-jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.loveLetter.ws.servlet.JerseyServletConfig</param-value>		
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet-jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey2Config</servlet-name>
		<servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
	      <param-name>swagger.api.basepath</param-name>
	      <param-value>rest</param-value>
	    </init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<filter>
		<filter-name>FiltreGestionnaireSession</filter-name>
		<filter-class>org.loveLetter.ws.filtre.FiltreGestionnaireSession</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>FiltreGestionnaireSession</filter-name>
		<url-pattern>/rest/eleve/*</url-pattern>
		<url-pattern>/rest/eleves/*</url-pattern>
	</filter-mapping>

</web-app>
